body{
    margin: 0;
    min-height: 1912px;
    display: flex;
    flex-direction: column;
    flex: 1;
}


.first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
}

.header, .hero{
    display: flex;
}

.header{
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    margin-bottom: 100px;
}

.logo{
    font-size: 24px;  
}


ul{
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex; 
   gap: 14px;
}

a{
    text-decoration: none;
    color: #eee;
}

.hero{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
    
}

.hero-text{
    max-width: 445px;
}

ul, .small-text{
    font-size: 18px;
    color: #E5E7EB;
   
}

.small-text{
    margin: 8px 0;
    flex: 1 1 0;
}

.big-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}


.sign-up{
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border: none;
    border-radius: 6px;
}

.image{
    padding: 120px 150px;
    background-color: grey;
    color: #E5E7EB;
    margin-left: auto;
}


.second{
    display: flex;
    flex-direction: column;
    padding: 40px 0 100px 0;
}

.second-title{
   font-size: 36px; 
   font-weight: bolder;
   color: #1F2937;
   text-align: center;
   margin-bottom: 40px;
}

.info-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box{
    margin-bottom: 20px;
    padding:80px 75px;
    border: solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: #3882F6;
}

.card{
    max-width: 175px;
    max-height: 225px;
    text-align: center;
}

.third{
    background-color: #E5E7EB;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.quote {
    max-width: 950px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: -10px; 
     
}

.person{
    font-weight: bold;
    margin-left: 700px;
}






